.text-ellipsis
  white-space nowrap
  text-overflow: ellipsis
  overflow hidden

.text-center
  text-align center


.flex-center
  text-align center
  display flex
  align-items center
  justify-content center

.shadow-blur
  position relative
  &::before
    content: "";
    //display: block;
    background: inherit;
    filter: blur(10rpx);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10rpx;
    left: 10rpx;
    z-index: -1;
    opacity: 0.4;
    //transform-origin: 0 0;
    border-radius: inherit;

