<template>

  <view>
    <my-bar bgColor="bg-gradual-blue" :isBack="true">
      <block slot="backText">返回</block>
      <block slot="content">导航栏</block>
    </my-bar>

    <view :style="{marginTop:CustomBar+'px'}" style="overflow: hidden" >
      <view class="a flex-center shadow-blur">
        <text style="background-color: #9c26b0" >div</text>
      </view>
    </view>


  </view>


</template>

<script>
export default {
  data() {
    return {
      StatusBar: this.$StatusBar,
      CustomBar: this.$CustomBar
    };
  },
  onLoad() {
    console.info(this.CustomBar)
  },
  methods: {},
  computed: {}
}
</script>

<style lang="stylus">


.a
  background-color #39B54A
  width 50%
  margin 50rpx auto 50rpx auto
  height 300rpx


</style>
