<template>
  <view>
    <view>
      <view class="bar" :style="style" :class="[bgImage!=''?'text-white my-bg-img':'',bgColor]"  >
        <view class="action" @tap="BackPage" v-if="isBack">
            <text class="cuIcon-back" style="margin-left: 10rpx"></text>
          <view style="margin-left: 10rpx">
            <slot name="backText"></slot>
          </view>
        </view>
        <view class="content text-ellipsis" :style="[{top:StatusBar + 'px'}]">
          <slot name="content"></slot>
        </view>
        <slot name="right"></slot>
      </view>
    </view>
  </view>

</template>

<script>
export default {
  data() {
    return {
      StatusBar: this.$StatusBar,
      CustomBar: this.$CustomBar
    };
  },
  name: 'my-bar',
  onLoad() {

  },
  methods: {},
  computed: {
    style() {
      let StatusBar = this.$StatusBar;
      let CustomBar = this.$CustomBar;
      let bgImage = this.$bgImage;
      let style = `height:${CustomBar}px;padding-top:${StatusBar}px;`;
      if (this.bgImage) {
        style = `${style}background-image:url(${bgImage});`;
      }
      return style

    }
  },
  props: {
    bgColor: {
      type: String,
      default: ''
    },
    isBack: {
      type: [Boolean, String],
      default: false
    },
    bgImage: {
      type: String,
      default: ''
    },
  }
}
</script>

<style lang="stylus">

.bar
  //display flex
  //align-items center
  min-height 100rpx
  //justify-content space-between
  min-height: 0px;
  /* #ifdef MP-WEIXIN */
  padding-right: 220rpx;
  /* #endif */
  /* #ifdef MP-ALIPAY */
  padding-right: 150rpx;
  /* #endif */
  box-shadow: 0rpx 0rpx 0rpx;
  z-index: 9999;
  position fixed
  width 100%
  top 0
  z-index 1024
  //box-shadow 0 1rpx 6rpx rgba(0, 0, 0, 0.1)

.action
  display: flex
  align-items: center
  height: 100%
  justify-content: left
  width 40%
  line-height 100%
  position relative


.content
  position: absolute;
  text-align: center;
  //width: calc(100% - 340rpx);
  width 50%
  left: 0;
  right: 0;
  bottom: 0;
  //top: 0;
  margin: auto;
  height: 60rpx;
  font-size: 32rpx;
  line-height: 60rpx;
  display flex
  justify-content center
  align-items center

</style>
